.posts-skeleton {
    width: 800px;
    height: 500px;
    display: flex;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    
}

.media {
    width: 500px;
    flex: 0.1;
}


.title {
    width: 300px;
    flex: 0.1;
}

.postedBy {
    margin-top: 20px;
    flex: 0.5;
}

.upvotes-skeleton {
    flex: 0.25;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}