.post { 
    display: flex;
    min-width: 35%;
    max-width: 45%;
    /* min-height: 300px; */
    /* border: 1px solid blue;  */

    border: 1px solid rgb(0, 145, 255);
    border-radius: 5px;

    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    flex-wrap: wrap;


}



.post-img {
    width: 65%;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.upvotes {
    width: 10%;;
    max-height: 800px;
    /* border: 1px solid purple; */
    text-align: center;

    margin-right: 20px;
    
}

.num-upvotes {
    margin: 0;
    color: rgb(0, 166, 255)
}

.upvote-arrow {
    color: rgb(148, 148, 148);
}

.up-arrow {
    margin-top: 20px;
}

.extra-info {
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: space-evenly;
}

.comment-icon {
    width: 20px;
}

.postedby {
    font-size: 16px;
    color: rgb(173, 173, 173);
}

.postedDate {
    font-size: 16px;
    color: rgb(173, 173, 173);
}

.comment-amt {
    font-size: 16px;
    color: rgb(173, 173, 173);
}

.post-name {
    color: rgb(64, 124, 255);
}

.post-title {
    width: 100%;
    margin-right: 30px;
    color: rgb(105, 105, 105);
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.comments-button {
    background-color: transparent;
    border: none;
}

.comments {
    width: 100%;
    margin-top: 0;
    
}


.comments::-webkit-scrollbar {
    display: none;
  }


.post-line {
    width: 100%;
}

.post-info {
    /* border: 1px solid blue; */
    width: 83%;
}


@media screen and (max-width: 1600px) {
    .post {
        /* border: 1px solid rgb(98, 0, 255); */
        max-width: 60%; /* The width is 100%, when the viewport is 800px or smaller */
        min-width: 60%;
    }

    .post-img {
        margin-left: 0px;
    }

    .post-title {
        font-size: 1.5rem;
    }
  } 


  @media screen and (max-width: 1200px) {
    .post {
        /* border: 1px solid red; */
        max-width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .post-img {
        margin-left: 0px;

    }
  } 
  

  @media screen and (max-width: 600px) {
    .post {
        max-width: 95%; /* The width is 100%, when the viewport is 800px or smaller */
        min-width: 85%;
    }

  

    .post-img {
        margin-left: 0px;

    }

    .postedby {
        font-size: 13px;
        color: rgb(173, 173, 173);
    }
    
    .postedDate {
        font-size: 13px;
        color: rgb(173, 173, 173);
    }
    
    .comment-amt {
        font-size: 13px;
        color: rgb(173, 173, 173);
    }
    
    .post-name {
        font-size: 13px;
        color: rgb(64, 124, 255);
    }

    .comments-button {
        background-color: transparent;
        border: none;
    }
  } 