.posts-skeleton {
    width: 40%;
    height: 500px;
    display: flex;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    
}

.media {
    width: 90%;
    flex: 0.1;
}


.title {
    width: 300px;
    flex: 0.1;
}

.postedBy {
    margin-top: 20px;
    flex: 0.5;
}

.upvotes-skeleton {
    flex: 0.25;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}


@media screen and (max-width: 1600px) {
    .posts-skeleton {
        /* border: 1px solid rgb(98, 0, 255); */
        width: 60%; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .upvotes-skeleton {
        flex: 0.55;
    }

  } 

  @media screen and (max-width: 1000px) {
    .posts-skeleton {
        width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .upvotes-skeleton {
        flex: 0.65;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    
  } 
  

  @media screen and (max-width: 600px) {
    .posts-skeleton {
        max-width: 95%; /* The width is 100%, when the viewport is 800px or smaller */
        min-width: 85%;
    }

    .upvotes-skeleton {
        flex: 1;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }


  } 