.searchBar {
    display: inline-flex;
    align-items: center;
}

.search-input {
    height: 40px;
    border-radius: 48px;
    border: 0.5px solid lightgrey;
    width: 500px;
    padding-right: 40px;
    padding-left: 10px;
    background: url("https://cdn-icons-png.flaticon.com/512/6438/6438882.png") no-repeat right;
    background-size: 30px;

    font-size: 20px;
}

.search-bars-container {
    display: flex;
    position: absolute;
    right: 0;
    /* position: absolute;
    right: 0; */
    margin-right: 20px;
}

.search-subreddits {
    margin-right: 20px;
}

@media screen and (max-width: 1600px) {
    .search-input {
        width: 90%;
    }
  } 

  @media screen and (max-width: 1200px) {
    .search-input {
        width: 80%;
    }
  } 

@media screen and (max-width: 600px) {
    .searchBar {
        display: block;
        margin-top: 45px;
        text-align: center;
        /* align-items: center; */
        
    }
    .search-input {
        width: 50%;
    }
  } 